.about {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 48px;
}

.about-card {
  background-color: blue;
}

.origins {
  padding-top: 48px;
}

.mission {
  padding-top: 60px;
}

.origins h2{
line-height: 200%;
}
.mission h2 {
  line-height: 200%;

}