.about-tenting {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 48px;
  }
  
.tenting-graphic {
  text-align: center;
  display: inline-block;
  padding: 30px;
}

.tenting-table {
  text-align: center;
  padding: 30px;
}

.tenting-essentials {
  padding: 30px;
}

.tenting-faq {
  padding: 30px;
  text-align: left;
}